# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/component/activity/ActivityPageCard/ActivityMap.js
temp_uploads/3d0459e4662e27bc539a66a29db093bd
temp_uploads/4b9a5ccf4e7ebc7dbbd1893a32707c48
