* {
  box-sizing: border-box;
}
html,
body {
  background: #242b34;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
  color: #d4d1cc !important;
  scroll-behavior: smooth;
}
.container-fuild {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.fix-content {
  padding: 72px 120px;
}
.fix-height {
  height: 120px;
}
.fix-inline-content {
  margin: 72px 0;
}
.row {
  margin: 0;
  padding: 0;
}
img.img-fluid {
  filter: brightness(60%);
  max-height: 750px;
  height: 100%;
  object-fit: cover;
}
/*card */
.card.activityCard {
  border: none !important;
  transition: 0.5s;
}
.card.activityCard img {
  transition: 0.5s !important;
  filter: grayscale(20%) !important;
  filter: brightness(70%) !important;
}
.card.activityCard img:hover {
  filter: grayscale(100%) !important;
  filter: brightness(100%) !important;
}
/*button*/

/* button.btn.btn-warning {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffa510;
  color: #ffa510;
  transition: 0.7s;
}
button.btn.btn-warning:hover {
  background-color: #ffa510;
  border: 2px solid #ffa510;
  color: inherit;
} */

/*navbar*/

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 120px;
  background-color: #00000020 !important;
  padding: 0 120px;
  font-size: 32px !important;
  transition: 1s;
}
nav.navbar.active {
  background-color: #1f242a !important;
}
nav.navbar.showNav {
  height: 120px;
}
nav.navbar.hiddenNav {
  height: 0px;
  opacity: 0;
}
nav.navbar a {
  color: #d4d1cc !important;
  transition: 0.7s;
}
nav.navbar a:hover {
  color: #ffa510 !important;
}
nav.navbar a.active {
  color: #ffa510 !important;
}
nav.navbar a.active.navbar-brand {
  font-size: 32px;
  color: #d4d1cc !important;
}

/* --------searchbar------- */
.searchbar-wrapper span {
  display: inline-block;
  padding: 4px 16px;
  font-size: 24px;
  color: #ffa510;
  border: 2px solid #ffa510;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.searchbar-wrapper span.active {
  display: inline-block;
  padding: 4px 16px;
  font-size: 24px;
  background: #ffa510;
  color: #242b34;
  border: 2px solid #ffa510;
  border-radius: 4px;
  cursor: pointer;
}

/* --------signup------- */
.box {
  height: 100vh;
  transition: 0.7s;
}
.box-origin {
  transition: 0.7s;
  filter: brightness(50%);
}
.box-mousein {
  transition: 0.7s;
  filter: brightness(70%);
}
.box-clicked {
  transition: 0.7s;
  filter: brightness(90%);
}
.title {
  position: absolute;
  font-weight: bolder;
  color: #fff;
  transition: 0.5s;
  width: 48px;
  top: calc(50% - 96px);
  left: calc(50% - 24px);
}
.clicked-title {
  position: absolute;
  font-weight: bolder;
  color: #fff;
  transition: 0.5s;
  top: calc(18% - 24px);
  left: calc(50% - 98px);
  font-weight: bolder;
  letter-spacing: 12px;
  text-align: center;
}
/* --------signup_InputCard-------- */
.card-box.signcard {
  background-color: rgba(0, 0, 0, 0) !important;
}
.card-body.signcard {
  background: rgba(0, 0, 0, 0.7) !important;
}

/*這邊把全部的input都寫死了 有的頁面不是這個設定
/* input[type='text']::placeholder,
input[type='password']::placeholder {
  text-align: center;
  color: #d4d1cc;
}

input {
  background: rgba(0, 0, 0, 0.7);
} */

input.activitySearch::placeholder {
  color: #ffa510;
}

/* -------------------SU------------------------ */
.text-mywhite {
  color: #d4d1cc !important;
}
.text-darkblue {
  color: #2b333d !important;
}
.bg-darkblue {
  background: #242b34 !important;
}
.bg-second-darkblue {
  background: #2b333d !important;
}
.bg-orange {
  background: #ffa510 !important;
}
.bg-back-table {
  background: #394149;
}
.mytransition5 {
  transition: 0.5s;
}
.sidenavLink:hover {
  color: #ffa510;
}
/* -----------------------------------------------------Kaga */
.cardAreaBgKaga {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  border-radius: 5px;
  overflow: hidden;
}
.cardTopMaskKaga {
  background: rgba(0, 0, 0, 0.2);
  height: 260px;
  transition: 0.5s cubic-bezier(0.36, 0.71, 0.3, 0.87);
}
.cardTopMaskKagaZero {
  background: rgba(0, 0, 0, 0.2);
  height: 0;
  transition: 0.5s cubic-bezier(0.36, 0.71, 0.3, 0.87);
}
.cardBottomMaskKaga {
  background: rgba(0, 0, 0, 0.8);
  height: 130px;
}
.cardPopupMaskKaga {
  background: rgba(0, 0, 0, 0.8);
  height: 0;
}
.cardStar {
  color: #ffa510;
}
/* -------------------------------------------------------forum */
.articleInput,
.card-body.articleInput {
  background: '#1f242a';
}

#forumListScollTop::-webkit-scrollbar {
  width: 0 !important;
}
