* {
  box-sizing: border-box;
}
html,
body {
  background: #242b34;
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}
.container-fluid {
  max-width: 100%;
}
.fix-container-fluid {
  height: 120px;
}
.row {
  margin: 0;
  padding: 0;
}
.img-fluid {
  filter: brightness(50%);
  max-height: 750px;
  height: 100%;
  object-fit: cover;
}
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 120px;
  background-color: #00000020 !important;
  padding: 0 120px;
  font-size: 32px !important;
}
nav.navbar a {
  color: #737c88 !important;
  transition: 0.5s;
}
nav.navbar a:hover {
  color: #d4d1cc !important;
}
nav.navbar a.active {
  color: #ffa510 !important;
}
