* {
  box-sizing: border-box;
}
html,
body {
  background: #242b34;
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
  color: #d4d1cc !important;
  scroll-behavior: smooth;
}
.container-fuild {
  max-width: 100%;
}

.fix-content {
  padding: 72px 120px;
}
.fix-height {
  height: 120px;
}
.fix-inline-content {
  margin: 72px 0;
}
.row {
  margin: 0;
  padding: 0;
}
img.img-fluid {
  filter: brightness(60%);
  max-height: 750px;
  height: 100%;
  object-fit: cover;
}
/*button*/

/* button.btn.btn-warning {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffa510;
  color: #ffa510;
  transition: 0.7s;
}
button.btn.btn-warning:hover {
  background-color: #ffa510;
  border: 2px solid #ffa510;
  color: inherit;
} */

/*navbar*/

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 120px;
  background-color: #00000020 !important;
  padding: 0 120px;
  font-size: 32px !important;
  transition: 1s;
}
nav.navbar.active {
  background-color: #1f242a !important;
}
nav.navbar.showNav {
  height: 120px;
}
nav.navbar.hiddenNav {
  height: 0px;
  opacity: 0;
}
nav.navbar a {
  color: #d4d1cc !important;
  transition: 0.7s;
}
nav.navbar a:hover {
  color: #ffa510 !important;
}
nav.navbar a.active {
  color: #ffa510 !important;
}
nav.navbar a.active.navbar-brand {
  font-size: 32px;
  color: #d4d1cc !important;
}
